CTYPE html>
    {% include 'bdrsite/header.html' %}
        <body>
                {% include 'bdrsite/nav.html' %}

                        <section id = "main" class = "wrapper">
                                        <div class = "container">
                                                            
                                                            <h3>What is the web about?</h3>
                                                                            
                                                                            <br>

                                                                                                <p>More information coming soon!</p>
                                                                                                                <p>For more details about our project, you can visit <a href = "https://bassconnections.duke.edu/project-teams/blue-devil-resistome-project-2017-2018">Blue Devil Resistome Project</a>.</p>
                                                                                                                            
                                                                                                                            <br>
                                                                                                                                                            <ul class = "actions">
                                                                                                                                                                                                        <li><a href = "/tutorial" class = "button special">Back</a></li>
                                                                                                                                                                                                                                        </ul>
                                                                                                                                                                                                                                                                <br>
                                                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                                                    </section>
                                                                                                                                                                                                                                                                                            {% include 'bdrsite/footer.html' %}
                                                                                                                                                                                                                                                                                                    {% include 'bdrsite/scripts.html' %}
                                                                                                                                                                                                                                                                                                        </body>
                                                                                                                                                                                                                                                                                                        </html>

