CTYPE html>
    {% include 'bdrsite/header.html' %}
        <body>
                {% include 'bdrsite/nav.html' %}
                        <section id = "main" class = "wrapper">
                                        <div class = "container">
                                                            <h2>From our website, you can:</h2>
                                                                            <br>
                                                                                            <li>Explore and personalize data basing on our<a href = "/analysis"> Query</a>.</li>
                                                                                                            <li>Analyze total abundance and antibiotics resistance for microorganisms around Duke campus.</li>
                                                                                                                            <li>Visualize the microorganism abundance change around Duke campus by<a href = "/analysis/map"> Location Analysis</a>.</li>        
                                                                                                                                            <br>
                                                                                                                                                                        <ul class = "actions">
                                                                                                                                                                                                                <li><a href = "/tutorial" class = "button special">Back</a></li>
                                                                                                                                                                                                                                </ul>           

                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                    </section>
                                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                            {% include 'bdrsite/footer.html' %}
                                                                                                                                                                                                                                                                    {% include 'bdrsite/scripts.html' %}
                                                                                                                                                                                                                                                                        </body>
                                                                                                                                                                                                                                                                        </html>


